recursive-include docs *
recursive-include tests *.py
global-exclude *.py[cod] *.log
include Makefile
include CHANGELOG.md
include .flake8
include mypy.ini
include requirements.txt
include test_requirements.txt