name: SimulaQron backend tests

on: [push, pull_request]

jobs:
  examples:
    name: Run examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Install simulaqron
      run: pip install simulaqron
    - name: Install netqasm
      run: make install-dev
    - name: Install projectq
      run: pip install -Iv projectq
    - name: Run examples
      env:
          NETQASM_SIMULATOR: simulaqron
      run: make external-examples
